<h1>Welcome To The Student Circle</h1>

<% if user_signed_in? %>
<p>
<%= current_user.firstName %>  <%= current_user.LastName %>
 <%= image_tag current_user.avatar.url(:small) %>
</p>
<p>
	<b>LasT Seen:</b>
<%= time_ago_in_words(current_user.last_sign_in_at) %>

</p>



<% end%>
