.container {
  margin: 80px auto;
  width: 640px;
}
body {
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(bg-body.jpg);
}

.style2 {color: #006699}
.login {
  margin-left: -30px;
  margin-top:-10px;
   margin-bottom:-15px

	position: relative;
	padding: 20px 20px 20px;
	width: 100%
  height: 100%
	border-radius: 6px;
  background-color: #006496;






  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);







.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
	background-color: #999999;
	background-color: #006496;
	background-color: #002550;
	background-color: #F0F0F0;
	background-color: #78373C;
	background-image: url(../main_background.jpg);
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #999999;
  text-align: center;


  text-shadow: 0 1px white;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 7px 7px 0 0;
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
	width:60%;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #FFFFFF;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #3366CC;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 24px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 24px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
	margin: 5px;
	padding: 0 10px;
	width: 60%;
	height: 40px;
	color: #012C56;
	border-radius: 2px;
	outline: 5px solid #eff4f7;


  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	background-color: #012C56;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #012C56;
	border-right-color: #012C56;
	border-left-color: #012C56;
}
input[type=text]:focus, input[type=password]:focus {
	outline-color: #dceefc;
	outline-offset: 0;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

input[type=submit] {
  size: 10px;
  padding: 0 18px;
  height: 29px;
  font-size: 12px; font-family: tahoma; 
  font-weight: bold;
  text-shadow: 0 1px;
  background: #cde5ef;
  border: 1px solid;
  border-color: #00578C;
  border-radius: 26px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
	background: #cde5ef;
	border-color: #9eb9c2 #b3c0c8 #b4ccce;

  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	color: #016295;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}